################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug/TuringMachineSim.exe
/Debug/TMTapeFlattener.obj
/Debug/TMSimulator.obj
/Release/TuringMachineSim.tlog
/Release
